{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Romina's Market</p>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit voluptate dignissimos ratione quas, sequi necessitatibus vitae earum laboriosam aliquam velit, quasi, labore praesentium deserunt accusantium in ducimus adipisci dolorem esse.
                    <br/><br/>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nihil illum ipsam dolor aut rerum quae odit dolorem odio. Vitae, quam. Rem libero officia aliquam labore, illum obcaecati tempora eligendi.
                    <br/><br/>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magnam vero quas officia provident et corporis inventore iste quidem. Suscipit quae excepturi natus temporibus doloremque magnam, a fuga impedit reiciendis.
                    <br/><br/>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magnam vero quas officia provident et corporis inventore iste quidem. Suscipit quae excepturi natus temporibus doloremque magnam, a fuga impedit reiciendis.
                    <br/><br/>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magnam vero quas officia provident et corporis inventore iste quidem. Suscipit quae excepturi natus temporibus doloremque magnam, a fuga impedit reiciendis.


                    </p>
                </div>
            </center>
        </div>
    </div>



{% endblock %}